.container{
    background-color: blue;
    height: 90vh;
    width: 90vw;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.parent{
    background-color:black;
    height: 60vh;
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

h2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
h2:hover{
    color: brown;
    transition: 1sec;

}

.ball{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background:radial-gradient(white,red);
    position: absolute;
    top: 40%;
    left: 40%;
    animation:bounce 3s infinite;
    animation-direction: reverse;
    animation-fill-mode: both;
}



/* animation */
/* @keyframes */
@keyframes bounce{
    0%{
        top: 40px;
        left: 40px;
    }
    25%{
        top: 40px;
        left: 80vw;
    }
    50%{
        top: 80vh;
        left: 80vw;
    }
    75%{
        top: 80vh;
        left: 40px;
    }
    100%{
        top: 40px;
        left: 40px;
    }
}
